<header>
<%= render 'access/navigation' %>
</header>
<br/>
<div>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users</h1>

<br />
</div>
<br/>
<br/>
<table id="tutorials">
  <tr class="tutorials_tr">
    <th class="tutorials_th">First Name</th>
    <th class="tutorials_th">Last Name</th>
    <th class="tutorials_th">Username</th>
    <th class="tutorials_th">Subscription Expire</th>

  </tr>

<% @users.each do |user| %>
  <tr class="tutorials_tr">
    <td class="tutorials_td"><%= user.first_name %></td>
    <td class="tutorials_td"><%= user.last_name %></td>
    <td class="tutorials_td"><%= user.username %></td>
    <td class="tutorials_td"><%= user.subscribtion_expire %></td>
	
    
    <td class="tutorials_td">
    	<%= if session[:user_role] == 'owner' 
    		link_to 'Edit', edit_user_path(user)
    		end %>
 
		<%= link_to 'Show', user %>
    </td>
  </tr>
<% end %>
</table>

