<% @page_title = "User Menu" %>
<header>
<%= render 'access/navigation' %>
</header>

<p id="notice"><%= notice %></p>
  <div class="field" align="center">
<p>
</p>
<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>



<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Subscribtion Created:</b>
  <%= @user.created_at %>
</p>

<p>
  <b>Subscribtion expire:</b>
  <%= @user.subscribtion_expire %>
</p>
</div>



<%= link_to 'Back', users_path %>
<%= link_to("Edit Profile", :controller => 'users', :action => 'edit', :id => session[:user_id]) %>
