<header>
<%= render 'access/navigation' %>
</header>
<br/>
<div>
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tutorials</h1>

<br />
</div>
<br/>
<br/>
<table id="tutorials">
  <tr class="tutorials_tr">
    <th class="tutorials_th">Tutorial Name</th>
    <th class="tutorials_th">Tutorial Type</th>
    <th class="tutorials_th">Date Released</th>
    <th class="tutorials_th">Category</th>
	<th class="tutorials_th">Functions</th>
  </tr>

<% @tutorials.each do |tutorial| %>
  <tr class="tutorials_tr">
    <td class="tutorials_td"><%= tutorial.tutorial_name %></td>
    <td class="tutorials_td"><%= tutorial.TutorialType %></td>
    <td class="tutorials_td"><%= tutorial.tutorial_date_release %></td>
    <td class="tutorials_td"><%= tutorial.CategoryID %></td>
	
    
    <td class="tutorials_td">
    	<%= if session[:user_role] == 'owner' 
    		link_to 'Edit', edit_tutorial_path(tutorial)
    		end %>
    	<%= if session[:user_role] == 'owner'
    		link_to 'Delete', tutorial, method: :delete, data: { confirm: 'Are you sure?' } 
    		end%>
		<%= link_to 'Show', tutorial %>
    </td>
  </tr>
<% end %>
</table>



